# Node / JS
node_modules

# Yarn Berry
.yarn/*

# Build outputs
dist/
build/
.out/
target

# Anchor / Solana
target/
**/target/
dist/
test-ledger/
.anchor/


# environment variables
.env

# prisma
generated